<div class="oj-flex oj-sm-justify-content-center">
    <div class="oj-panel oj-flex-item oj-margin" style="width: 100%">
    </div>
    
    <div class="oj-panel oj-flex-item oj-margin" style="width: 23%">        
        <div class="oj-flex oj-sm-justify-content-center">
            <h2 class="oj-header-border" data-bind="text: '$'+bitsoBTClast()"></h2>
            <span style="width: 100%"></span>
            <h4 class="highlight">Bitso MXN/BTC</h4>
            <span style="width: 100%"></span>
            <div class="oj-flex oj-sm-only-flex-direction-column oj-md-only-flex-direction-column oj-lg-flex-items-1 oj-form-layout" >
                <div class="oj-flex-item">
                    <div class="oj-form  oj-sm-odd-cols-12 oj-md-odd-cols-4">
                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <span class="highlight">Bid</span>
                                <span data-bind="text: '$'+bitsoBTCbid()"></span>
                            </div>
                        </div>
                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <span class="highlight">Low</span>
                                <span data-bind="text: '$'+bitsoBTClow()"></span>
                            </div>
                        </div>  
                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <span class="highlight">Volume</span>
                                <span data-bind="text: bitsoBTCvolume"></span>
                            </div>
                        </div>  
                    </div>
                </div>

                <div class="oj-flex-item">
                    <div class="oj-form  oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <span class="highlight">Ask</span>
                                <span data-bind="text: '$'+bitsoBTCask()"></span>
                            </div>
                        </div>
                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <span class="highlight">High</span>
                                <span data-bind="text: '$'+bitsoBTChigh()"></span>
                            </div>
                        </div>                        
                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <span class="highlight">Spread</span>
                                <span data-bind="text: bitsoBTCspread()+'%'"></span>
                            </div>
                        </div>                                                
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="oj-panel oj-flex-item oj-margin" style="width: 23%">        
        <div class="oj-flex oj-sm-justify-content-center">
            <h2 class="oj-header-border" data-bind="text: '$'+bitsoETHlast()"></h2>
            <span style="width: 100%"></span>
            <h4 class="highlight">Bitso MXN/ETH</h4>
            <span style="width: 100%"></span>
            <div class="oj-flex oj-sm-only-flex-direction-column oj-md-only-flex-direction-column oj-lg-flex-items-1 oj-form-layout" >
                <div class="oj-flex-item">
                    <div class="oj-form  oj-sm-odd-cols-12 oj-md-odd-cols-4">
                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <span class="highlight">Bid</span>
                                <span data-bind="text: '$'+bitsoETHbid()"></span>
                            </div>
                        </div>
                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <span class="highlight">Low</span>
                                <span data-bind="text: '$'+bitsoETHlow()"></span>
                            </div>
                        </div>  
                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <span class="highlight">Volume</span>
                                <span data-bind="text: bitsoETHvolume"></span>
                            </div>
                        </div>  
                    </div>
                </div>

                <div class="oj-flex-item">
                    <div class="oj-form  oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <span class="highlight">Ask</span>
                                <span data-bind="text: '$'+bitsoETHask()"></span>
                            </div>
                        </div>
                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <span class="highlight">High</span>
                                <span data-bind="text: '$'+bitsoETHhigh()"></span>
                            </div>
                        </div>                        
                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <span class="highlight">Spread</span>
                                <span data-bind="text: bitsoETHspread()+'%'"></span>
                            </div>
                        </div>                                                
                    </div>
                </div>
            </div>
        </div>
    </div>    
    
    <div class="oj-panel oj-flex-item oj-margin" style="width: 23%">        
        <div class="oj-flex oj-sm-justify-content-center">
            <h2 class="oj-header-border" data-bind="text: '$'+bitfinexBTClast()"></h2>
            <span style="width: 100%"></span>
            <h4 class="highlight">Bitfinex USD/BTC</h4>
            <span style="width: 100%"></span>
            <div class="oj-flex oj-sm-only-flex-direction-column oj-md-only-flex-direction-column oj-lg-flex-items-1 oj-form-layout" >
                <div class="oj-flex-item">
                    <div class="oj-form  oj-sm-odd-cols-12 oj-md-odd-cols-4">
                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <span class="highlight">Bid</span>
                                <span data-bind="text: '$'+bitfinexBTCbid()"></span>
                            </div>
                        </div>
                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <span class="highlight">Low</span>
                                <span data-bind="text: '$'+bitfinexBTClow()"></span>
                            </div>
                        </div>  
                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <span class="highlight">Volume</span>
                                <span data-bind="text: bitfinexBTCvolume"></span>
                            </div>
                        </div>  
                    </div>
                </div>

                <div class="oj-flex-item">
                    <div class="oj-form  oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <span class="highlight">Ask</span>
                                <span data-bind="text: '$'+bitfinexBTCask()"></span>
                            </div>
                        </div>
                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <span class="highlight">High</span>
                                <span data-bind="text: '$'+bitfinexBTChigh()"></span>
                            </div>
                        </div>                        
                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <span class="highlight">Spread</span>
                                <span data-bind="text: bitfinexBTCspread()+'%'"></span>
                            </div>
                        </div>                                                
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="oj-panel oj-flex-item oj-margin" style="width: 23%">        
        <div class="oj-flex oj-sm-justify-content-center">
            <h2 class="oj-header-border" data-bind="text: '$'+bitfinexETHlast()"></h2>
            <span style="width: 100%"></span>
            <h4 class="highlight">Bitfinex USD/ETH</h4>
            <span style="width: 100%"></span>
            <div class="oj-flex oj-sm-only-flex-direction-column oj-md-only-flex-direction-column oj-lg-flex-items-1 oj-form-layout" >
                <div class="oj-flex-item">
                    <div class="oj-form  oj-sm-odd-cols-12 oj-md-odd-cols-4">
                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <span class="highlight">Bid</span>
                                <span data-bind="text: '$'+bitfinexETHbid()"></span>
                            </div>
                        </div>
                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <span class="highlight">Low</span>
                                <span data-bind="text: '$'+bitfinexETHlow()"></span>
                            </div>
                        </div>  
                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <span class="highlight">Volume</span>
                                <span data-bind="text: bitfinexETHvolume"></span>
                            </div>
                        </div>  
                    </div>
                </div>

                <div class="oj-flex-item">
                    <div class="oj-form  oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <span class="highlight">Ask</span>
                                <span data-bind="text: '$'+bitfinexETHask()"></span>
                            </div>
                        </div>
                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <span class="highlight">High</span>
                                <span data-bind="text: '$'+bitfinexETHhigh()"></span>
                            </div>
                        </div>                        
                        <div class="oj-flex">
                            <div class="oj-flex-item">
                                <span class="highlight">Spread</span>
                                <span data-bind="text: bitfinexETHspread()+'%'"></span>
                            </div>
                        </div>                                                
                    </div>
                </div>
            </div>
        </div>
    </div>        
</div>